<div class="vocab-item animated flipInX" data-lang-id="<%= vocab_item.language.id %>">
  <div class="vocab-item-content">
    <%= vocab_item.content %>
  </div>
  <div class="vocab-speaker">
    <i class="fas fa-volume-up" data-text="<%= vocab_item.content %>" data-iso-code="<%= vocab_item.language.iso_code %>"></i>
  </div>

</div>
