<h1>List of all users except ourself</h1>

<ul>
<% @users.each do |user| %>
  <li><%= link_to user.first_name, user_path(user) %></li>
<% end %>
</ul>

<% @users.each do |user| %>
  <%= render partial: 'shared/user-index-card', locals: {first_name: user.first_name, city: user.city} %>
<% end %>