<div class="bh-card-user-index">
    <div>
      <%= image_tag "https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80", class: "bh-avatar-sm" %>
    </div>
    <div class="bh-card-user-index-info">
      <h3><%= first_name %></h3>
      <p><%= city %></p>
    </div>
    <div class="bh-card-user-index-languages">
      <div class="bh-card-user-index-sharing">
        <div>
          <p>sharing</p>
        </div>
        <!-- build the progress bar by self -->
        <div class="language-part">
          <h3 class="language">EN</h3>
            <div class= "bh-progress-background-sharing">
              <div class = "bh-progress-bar-sharing"></div>
            </div>
        </div>
      </div>
      <div class="bh-card-user-index-practicing">
        <div>
          <p>practicing</p>
        </div>
        <div class="language-part">
          <h3 class="language">FR</h3>
            <div class= "bh-progress-background-practicing">
              <div class = "bh-progress-bar-practicing"></div>
            </div>
        </div>
<!--         <div class="bh-language-icon">
        </div> -->
      </div>
    </div>
  </div>
