<div id="chat-window-body" class="bh-no-scroll">
  <div class="bh-chat-header">
    <%= image_tag @other_user.photo, alt: "user photo", class: "bh-avatar-xxs"%>
    <h5>Chat with <%= @other_user.first_name %></h5>
  </div>

  <% if @chat.messages.any? %>
    <div id="messages" class="bh-chat-scrollbox">
      <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>
    </div>
  <% else %>
    <div id="messages">
    </div>
  <% end %>
<%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>
</div>


<!-- <script type="text/javascript">




  createMessageChannel();
  // app/assets/javascripts/channels/messages.js
  messageForm();
  // app/assets/javascripts/messages_form.js

  // scroll to bottom of chat on load
  window.onload=function () {
     var chatBox = document.getElementById("messages");
     chatBox.scrollTop = chatBox.scrollHeight;
}
</script> -->
