<div class="container">
<!-- large button solid -->
  <a href=""><button class="bh-btn-solid-lg">Button</button>
  </a>
<!-- small button solid  -->
  <a href=""><button class="bh-btn-solid-sm">Button</button>
  </a>
<!-- large button outline -->
  <a href=""><button class="bh-btn-outline-lg">Button</button>
  </a>
  
  <a href=""><button class="bh-btn-outline-sm">Button</button>
  </a>
  
  <div class="bh-card-user-index">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "bh-avatar-sm" %>
    <div class="bh-card-user-index-info">
      <h3>Firstname</h3>
      <p>city</p>
    </div>
    <p>sharing</p>
    <h3>EN</h3>
    <progress value="100" max="100"></progress>
    <p>practicing</p>
    <h3>FR</h3>
    <progress value="60" max="100"></progress>
  </div>
  <h1>Text</h1>
  <h2>Text</h2>
  <h3>Text</h3>
  <p>Text</p>


</div>
