.bh-nav-header {
  display: flex;
  justify-content: space-between;
  // align-items: left;
  color: white;
  list-style-type: none;
  background-color: black;
  width: 100%;
  height: 52px;
 
  text-align: center;
  position: sticky;
  top: 0;
}

.bh-nav-i {
  color: white;
}

.bh-nav-back {
  padding-left: 6px;
  font-size: 33px;
}