$color: #393E46;

.bh-card-user-index{
  width: 100%;
  height: 76px;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  color: initial;
  padding-top: 7px;
}

.bh-user-index-avatar {
  margin-left: -3px;
}

.bh-card-user-index-info {
  display:flex;
  flex-direction: column;
  min-width: 90px;
  p {
    margin-bottom: 0px;
    color: $color;
  }
}

.bh-card-user-index-languages {
  display: flex;
  flex-direction: column;
 p {
    margin-bottom: 0px;
  }
}


.language-part {

}

.language{
  padding-left: 10px;
  padding-right: 10px;

}
.language-sharing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bh-card-user-index-sharing {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  p {
    color: $color;
  }
}

.lang-pro {
  color: $color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 45px;
  font-size: 15px;
}

.language-code {
  min-width: 21px;
}

.bh-card-user-index-practicing {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  p {
    color: $color;
  }
}

.bh-progress-background-practicing {
    background-color: lightgrey;
    width: 50px;
  }

.bh-language-icon {
  display: flex;
}

.bh-progress-bar-practicing {
  width: 50%;
  background-color: red;
  height: 10px;
}

.text-style {
  color: #CBCBCB;
}

.progress-bar {
  margin-left: 3px;
}

