.bh-chat-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 71px;
  margin-bottom: 5px;
}
.chat-butto_to {
  width: 100%;
}

.name-city {
  display: flex;
  flex-direction: column;
}

.chat-languagues {
  display: flex;
}

.language-sharing {
  margin-right: 7px;
}
