.bh-meetup-show-container {
  display: flex;
  width: 100%;
  margin: 8px;
  padding: 8px;
  align-items: center;
  margin-left: -5px;
}

.bh-meetup-show-avatar{
  margin-right: 15px;
}
.meetup-languagues{
  display: flex;
}

.meetup-show-sharing {
  display: flex;
}

.meetup-show-seeking {
  display: flex;
}
