.vocab-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 8px;
  padding: 8px 12px;
  .vocab-item-content{
    padding-right: 8px;
  }
}

.vocab-card-right {
  display: flex;
  .vocab-speaker {
    padding-right: 8px;
  }
  .vocab-delete {
    color:#b1b1b1;
  }

}
