.bh-animation {
  margin-bottom: 200px;
  // display: flex;
  // flex-direction: column;
  position: relative;
}


.logo-breathing1 {
  position: absolute;

  margin-left: 15px;
  margin-right: auto;

}
.logo-breathing2 {
  position: absolute;
  right: 15px;
  top: 100px;
}

.bh-container {
  position: absolute;
  bottom: 112px;
  margin-left: 15px;
  margin-right: 15px;
}
