.bh-form-container{
  margin-top: 6px;
  width: 70%;
}

.vocab-add-container {
  display: flex;
  justify-content:center;
  background-color: $bh-light-orange;
  border-radius: 8px;
  padding: 8px;
  margin: 6px 0;
}

#mic-button {
  position: relative;
  top: 61px;
  left: 10px;
  background-color: #f6ad70;
}
