// $color: #F49342;
 $color: #000;


.bh-btn-solid-lg{
  background-color: darken($color, 10%);
  width: 100%;
  height: 57px;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.bh-btn-solid-sm{
  background-color: darken($color, 10%);
  width: 45%;
  height: 57px;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.bh-btn-outline-lg{
  background-color: white;
  width: 100%;
  height: 57px;
  border: 1px solid $color;
  color: $color;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.bh-btn-outline-sm{
  background-color: white;
  width: 45%;
  height: 57px;
  border: 1px solid $color;
  color: $color;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.bh-btn-solid-lg-home{
  background-color: #F49342;
  width: 100%;
  height: 57px;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}


