// Flex LG
.bh-flex-container {
  display: flex;
  width: 100%;
  margin: 8px;
  padding: 8px;
}

.bh-flex-element {
  width: 50%;
}


.bh-flex-small-element {
  display: flex;
  justify-content: flex-start; 
}

// Body text
.bh-text-body {
  width: 100%;
  margin: 8px;
  padding: 8px;
}

// Sticky Button
.bh-button-sticky-bottom {
  display: flex;
  position: sticky;
  width: 100%;
  height: 95px;
  bottom: 49px;
  margin: 0;
  background-image: linear-gradient(to bottom, transparent, white);
}


.fa-minus-circle {
  align-right: 12px;
  color: red;
  display: flex;
}
