.bh-card-meetup-index {
 width: 100%;
  height: 76px;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: initial;
  padding-top: 7px;
}
.image-user {
  margin-left: 5px;
}
.user-info {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 90px;
  margin-left: -35px;
  p {
    margin-bottom: 0px;
    color: $color;
  }
}

.languages {
  display: flex;
  justify-content: flex-end;
  align-itmes: center;
}

.date-languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5px;
  min-width: 110px;
}

.date {
  color: black;
  margin-bottom: 0px;
}

.lang-pro-seeking {
  color: $color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 45px;
  font-size: 15px;
  margin-left: 5px;
  margin-top: -3px;
}

.meetup-index-hr {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border: 0;
    border-top: 0px solid rgba(0, 0, 0, 0.1);
}
