.bh-nav-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  list-style-type: none;
  background-color: $bh-dark;
  width: 100%;
  height: 52px;
  font-size: 22px;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.bh-pushdown-content {
  margin-top: 125px;
}

@media(min-width: 600px) {
  .bh-nav-footer {
    width: 375px;
  } 
}