// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


h1{
  font-size: 34px;
  font-family: "Roboto", "Helvetica", "sans-serif";
}

h2{
  font-size: 28px;
  font-family: "Roboto", "Helvetica", "sans-serif";
}

h3{
  font-size: 21px !important;
  font-family: "Roboto", "Helvetica", "sans-serif";
}

p{
  font-size: 17px;
  font-family: "Roboto", "Helvetica", "sans-serif";
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
  color: $bh-dark;
}

a:active {
  text-decoration: none;
  color: $bh-dark;
}

.mobile-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

@media(min-width: 769px) {
  .mobile-container {
    width: 375px;
    height: 667px;
  }
}
